html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    background:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url("images/pixelSierra.jpeg");
    background-repeat: no-repeat;
    background-size:cover; }

#gameContainer {
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-top: -25px;
}

#header {
    display: flex;
    font-family: 'Tilt Neon', cursive;
    justify-self: center;
    align-self: center;
    transform: translate();
    font-size: 66px;
    letter-spacing: 6px;
    margin-top: -10px;
    color: white;
    animation: pulsate 0.11s ease-in-out infinite alternate; 
}

@keyframes pulsate {
    100% {
    text-shadow:    0 0 3px #fff,
                    0 0 7px #fff,
                    0 0 21px #ff00d0,
                    0 0 25px #FF00D0,
                    0 0 29px #FF00D0,
                    0 0 33px #FF00D0,
                    0 0 37px #FF00D0,
                    0 0 41px #FF00D0,
                    0 0 45px #FF00D0;
    }
    0% {
        text-shadow:    0 0 3px #fff,
                        0 0 6px #fff,
                        0 0 19px #ff00d0,
                        0 0 23px #FF00D0,
                        0 0 27px #FF00D0,
                        0 0 30px #FF00D0,
                        0 0 35px #FF00D0,
                        0 0 39px #FF00D0,
                        0 0 43px #FF00D0;  
    }
}

#menu {
    display: flex;  
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 35px ;
    height: 550px;
    width: 200px;
    gap: 35px;
}

#sliderContainer {
    font-family: 'Tilt Neon', cursive;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
    width:200px ;
    height: 25px;
    color: white;
}

#slider{
    cursor: pointer;
}

input[type="range"] {
    filter: hue-rotate(90deg);
  }

#colorPick {
    width: 100px;
    height: 100px;
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}

#colorPick::-webkit-color-swatch {
    border-radius: 50%;
    border: 2px solid white;
    box-shadow:    0 0 2px #fff,
                    0 0 5px #fff;
}

#colorPick::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid black;
}

#clearBtn, #colorBtn, #eraserBtn, #rainbowBtn {
    font-family: 'Tilt Neon', cursive;
    display: flex;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 18px;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s;
}
#clearBtn:hover, #colorBtn:hover, #eraserBtn:hover, #rainbowBtn:hover {
    transform: scale(1.06);
}

#menu .active {
    border: 4px solid;
    transition: 10ms;
}

#sketch-container{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    background-color: white;
    border: 1px solid rgb(255, 0, 208);
    box-shadow: 0px 0px 16px rgb(0, 183, 255);
    height: 550px;
    width: 550px;
}

#spacer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
}

#footer {
    font-family: 'Tilt Neon', cursive;
    position: fixed;
    letter-spacing: 6px;
    left: 0;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
    animation: pulsate2 0.11s ease-in-out infinite alternate; 
}

@keyframes pulsate2 {
    100% {
        text-shadow:0 0 1px #fff,
        0 0 3px #fff,
        0 0 7px #0095ff,
        0 0 11px #0095ff,
        0 0 15px #0095ff,
        0 0 20px #0095ff,
        0 0 24px #0095ff,
        0 0 28px #0095ff;
    }
    0% {
        text-shadow:0 0 1px #fff,
        0 0 3px #fff,
        0 0 6px #0095ff,
        0 0 10px #0095ff,
        0 0 13px #0095ff,
        0 0 17px #0095ff,
        0 0 21px #0095ff,
        0 0 25px #0095ff;
    }
}

.divCol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    cursor: pointer;
}

.divRow {
    flex-basis: 100%;
    cursor: pointer;
}